# -----------------------------
# 🔗 Database Configuration
# -----------------------------
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<database_name>

SECRET=your_jwt_secret_key
NODE_ENV=development
JWT_EXPIRE=7d


PORT=5000
FRONTEND_URL=http://localhost:3000


CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com


RAZORPAY_KEY_ID=rzp_test_1234567890abcdef
RAZORPAY_SECRET=your_razorpay_secret_key
RAZORPAY_PLAN_ID=plan_1234567890abcdef



GOOGLE_API_KEY=your_google_api_key
